@model List<Post>

@foreach (var post in Model)
{
    <div class="col-6 offset-2">
        <h2>@post.Text</h2>
        <p>Author: @post.User.UserName</p>
        <p>Tags: @string.Join(", ", post.PostHashTags.Select(ht => ht.Name))</p>
        @if (post.Files.Any())
        {
            <img src="@Url.Content(post.Files.First().FileName)" alt="Post image" />
        }
    </div>
}
