@model MyMainDiplomProject.Models.ViewModels.StatsViewModel
@{
    Layout = "";
}

<div class="admin-container">
    <div class="admin-block">
        <h4>Усього хештегів</h4>
        <div class="admin-content">@Model.TotalHasTags</div>
    </div>
    <div class="admin-block">
        <h4>Хештег #1</h4>
        <div class="admin-content">@Model.TopHasTag1</div>
    </div>
    <div class="admin-block">
        <h4>Хештег #2</h4>
        <div class="admin-content">@Model.TopHasTag2</div>
    </div>
    <div class="admin-block">
        <h4>Хештег #3</h4>
        <div class="admin-content">@Model.TopHasTag3</div>
    </div>

</div>
