@model MyMainDiplomProject.Models.ViewModels.ChangeSeatingsViewModel

<div class="post">
    <form asp-action="InputOrEdit" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <input type="hidden" asp-for="UserAdditional.UserId" value="@Model.UserAdditional.UserId" />

        @if(Model.Id == 1)
        {
            <div class="user-details-block">
                <label asp-for="UserAdditional.Description" class="control-label" style="font-weight: bold; font-size: 36px;">Про себе</label>
                <hr style="color: black; margin-bottom: 40px; width: 100%;"></hr>
                <input asp-for="UserAdditional.Description" class="form-control" />
                <span asp-validation-for="UserAdditional.Description" class="text-danger"></span>
        
            <label>
                <input type="checkbox" asp-for="UserAdditional.ShowDescription" /> Відображати опис
            </label>
            </div>

        }

        @if (Model.Id == 2)
        {
            <div class="user-details-block">
                <label asp-for="UserAdditional.WorkPlase" class="control-label" style="font-weight: bold; font-size: 36px;">Місце роботи</label>
                <hr style="color: black; margin-bottom: 40px; width: 100%;"></hr>
                <input asp-for="UserAdditional.WorkPlase" class="form-control" />
                <span asp-validation-for="UserAdditional.WorkPlase" class="text-danger"></span>

                <label>
                    <input type="checkbox" asp-for="UserAdditional.ShowWorkPlase" /> Відображати місце роботи
                </label>
            </div>
        }
    
        @if (Model.Id == 3)
        {
            <div class="user-details-block">
                <label asp-for="UserAdditional.UserInterests" class="control-label" style="font-weight: bold; font-size: 36px;">Інтереси користувача</label>
                <hr style="color: black; margin-bottom: 40px; width: 100%;"></hr>
                <input asp-for="UserAdditional.UserInterests" class="form-control" />
                <span asp-validation-for="UserAdditional.UserInterests" class="text-danger"></span>

                <label>
                    <input type="checkbox" asp-for="UserAdditional.ShowUserInterests" /> Відображати інтереси користувача
                </label>
            </div>
        }

        @if (Model.Id == 4)
        {
            <div class="user-details-block">
                <label asp-for="UserAdditional.Education" class="control-label" style="font-weight: bold; font-size: 36px;">Освіта</label>
                <hr style="color: black; margin-bottom: 40px; width: 100%;"></hr>
                <input asp-for="UserAdditional.Education" class="form-control" />
                <span asp-validation-for="UserAdditional.Education" class="text-danger"></span>

                <label>
                    <input type="checkbox" asp-for="UserAdditional.ShowEducation" /> Відображати освіту
                </label>
            </div>
        }


        @if (Model.Id == 5)
        {
            <div class="user-details-block">
                <label asp-for="UserAdditional.UserAvatar" class="control-label" style="font-weight: bold; font-size: 36px;">Аватар користувача</label>
                <hr style="color: black; margin-bottom: 40px; width: 100%;"></hr>
                <input asp-for="UserAdditional.UserAvatar" class="form-control" />
                <span asp-validation-for="UserAdditional.UserAvatar" class="text-danger"></span>
            </div>
        }

        @if (Model.Id == 6)
        {
            <div class="user-details-block">
                <label asp-for="UserAdditional.User.userNikName" class="control-label" style="font-weight: bold; font-size: 36px;">Псевдонім</label>
                <hr style="color: black; margin-bottom: 40px; width: 100%;"></hr>
                <input asp-for="UserAdditional.User.userNikName" class="form-control" />
                <span asp-validation-for="UserAdditional.User.userNikName" class="text-danger"></span>
            </div>
        }

        @if (Model.Id == 7)
        {
            <div class="user-details-block">
                <label asp-for="UserAdditional.User.Email" class="control-label" style="font-weight: bold; font-size: 36px;">Пошта</label>
                <hr style="color: black; margin-bottom: 40px; width: 100%;"></hr>
                <input asp-for="UserAdditional.User.Email" class="form-control" />
                <span asp-validation-for="UserAdditional.User.Email" class="text-danger"></span>
            </div>
        }

        <button type="submit" class="btn" style="width: 100%; background-color: #6b6d70; color: #fff; border: none; border-radius: 5px; padding: 10px 20px; margin: 10px 0px; cursor: pointer; transition: all 0.3s ease-in-out; font-family: inherit; font-size: inherit; line-height: inherit;">Зберегти</button>
    </form>
</div>
