@model IEnumerable<MyMainDiplomProject.Models.UserAdditionalInfo>

@{
    ViewData["Title"] = "Index";

}

<html>
    <body>
    <a class="btn btn-outline-primary" aria-current="page" href="~/UserAdditionalInfo/Test">Управління</a>
    </body>
</html>

