@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="div-for-reg">Реєстрація</h1>

<div class="div-for-reg">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Створення акаунту</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

             <div class="form-floating mb-3">
                <input asp-for="Input.userNikName" class="form-control" autocomplete="userNikName" aria-required="true" placeholder="userNikName" />
                <label asp-for="Input.userNikName">User name</label>
                <span asp-validation-for="Input.userNikName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.dateOfBirthday" class="form-control" autocomplete="dateOfBirthday" aria-required="true" placeholder="dateOfBirthday" />
                <label asp-for="Input.dateOfBirthday">Date of Birthday</label>
                <span asp-validation-for="Input.dateOfBirthday" class="text-danger"></span>
            </div>


            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Реєстрація</button>
        </form>
        <div class="center-p">
            <p>
                <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Вже зареєстровані? Авторизуйтесь</a>
            </p>
        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
