<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Diplom</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Diplom.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="./css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <a href="#" class="logo">
                <i class="fas fa-lightbulb"></i><span align-items="center">Lets Study</span>
            </a>
        </div>
        <div>
        </div>
        <nav>
            <ul>
                <li><a href="~/Home/Index"><i class="fa fa-home"></i></a></li>
                <li><a href="~/Posts/UserProfile/@User.Identity.Name"><i class="fa fa-users"></i></a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a href="~/UserAdditionalInfo/Profile"><i class="fa fa-user"></i></a></li>
                    <li><a href="~/UserAdditionalInfo/Setings"><i class="fa fa-cog"></i></a></li>
                }
                @if(User.Identity.AuthenticationType == "Admin")
                {
                    <li><a href="~/UserAdditionalInfo/AdminPanel"><i class="fa fa-cog"></i></a></li>
                }
            </ul>
        </nav>
        <partial name="_LoginPartial.cshtml" />
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery.unobtrusive-ajax.js"></script>
    <script src="~/lib/jquery.unobtrusive-ajax.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    
    function PopUpShow() {
        $("#PopUp").fadeIn();
        $("body").attr("style", "overflow-y: hidden;");
    }

    function PopUpHide() {
        $("#PopUp").fadeOut();
        $("body").attr("style", "overflow-y: scroll;");
    }
</script>
